<div class="row">
  <div class="small-4 columns">
    <h2>Product Information</h2>
    <p>Category: <%= @product.category.name %></p>
    <p>Name: <%= @product.name %></p>
    <p>Description: <%= @product.description %></p>
    <p>Price: <%= number_to_currency(@product.pricing) %></p>
  </div>
</div>
<div class="row">
  <div class="small-4 columns">
    <%= link_to "Edit", edit_product_path, class: "button tiny radius" %>
    <%= link_to "Back", root_path, class: "button tiny radius" %>
  </div>
</div>
<div class="row">
  <div class="small-4 columns">
    <h2>Comment:</h2>
  </div>
</div>

<%= form_for [@product, @comment] do |f| %>
<div class="row">
  <div class="small-6 columns">
    <%= f.text_field :comment %>
    <%= f.submit "Comment", class: "button tiny radius" %>
  </div>
</div>

<div class="row">
  <div class="small-4 columns">
    <% @comments.each do |comment| %>
      <p><%= comment.comment %> - <%= comment.created_at.strftime('%H:%M %Y-%m-%d') %> <%= link_to "Delete", product_comment_path(@product, comment), method: :delete %></p>
    <% end %>
  </div>
</div>
<% end  %>